# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glg
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.toc
*.vrb
*.xdv
_minted*

# Intermediate outputs
*.dvi
*.ps

# Local PDF builds
/latex/*.pdf

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.dir-locals.el
